<h4><center>Invoice# <%=@invoice.id%></center></h4>

<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime( "%A, %B, %d, %Y") %></p>
<p>Total Revenue: <%=number_to_currency(@invoice.total_revenue)%></p>

<h4>Customer:</h4>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<table class = "table">
<thead class = "default">
<tr>
<h4>Items on this Invoice</h4>
<th>Item Name</th>
<th>Price</th>
<th>Quantity</th>
<th>Status</th>
</tr>
<tbody>
<% @invoice.invoice_items.each do |invoice_item|%>
<tbody>
<tr class="table-info">
<div id="item_invoice-<%=invoice_item.id %>">
<td><%=invoice_item.item.name %></td>
<td><%=number_to_currency(invoice_item.item.unit_price) %></td>
<td><%=invoice_item.quantity %></td>
 <td><%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch, local: true do |f| %>
 <%= f.select :status, ['pending', 'packaged', 'shipped'], selected: invoice_item.status %>
  <%= hidden_field_tag "invoice_item_id", "#{invoice_item.id}" %>
  <%= f.submit "Update Item Status" %>
  <% end %></td>
</tr>
<% end %>
</tbody>
</table>
</div>

<div id="total_rev">
  <h3>Total Revenue</h3>
    <%= number_to_currency(@invoice.total_revenue) %>
</div>

<div id="discounted_rev">
  <h3>Discounted Revenue</h3>
    <%= number_to_currency(@invoice.total_revenue - @invoice.discounted/100) %>
</div>

<h3>Invoices Items:</h3>
<% @invoice.invoice_items.each do |invoice_item|%>
  <% @bulk.each do |bulk|%>
  <div id="invoice_item-<%= invoice_item.id %>">
    <% if bulk.threshold <= invoice_item.quantity %>
      <h4> Invoice item: <%= invoice_item.id %>
      <%= link_to "View Discount", "/merchants/#{@merchant.id}/bulkdiscounts/#{bulk.id}"%> </h4>
    <% else %>
      <h4> Invoice item: <%= invoice_item.id %> </h4>
    <% end %>
  <% end %>
  </div>
<% end %>
