<ul class="nav nav-pills">
<li class="nav-item navbar-left">
<a class="nav-link disabled" href="">Admin Dashboard</a>
</li>
<li class="nav-item navbar-right">
<a class="nav-link" href="/admin/invoices">Invoices</a>
</li>
<li class="nav-item navbar-right">
<a class="nav-link" href="/admin/merchants">Merchants</a>
</li>
<li class="nav-item navbar-right">
<a class="nav-link" href="/admin">Dashboard</a>
</li>
</ul>

<h4><center>Invoice# <%=@invoice.id%></center></h4>
<%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
<div id="invoice-<%=@invoice.id %>">
<p>Status: <%= f.select :status, ['in progress', 'cancelled', 'completed'], selected: @invoice.status %>
   <%= hidden_field_tag "invoice_id", "#{@invoice.id}" %>
  <%= f.submit "Update Invoice Status" %>
  <% end %></p>
<p>Created on: <%= @invoice.created_at.strftime( "%A, %B, %d, %Y") %></p>
<p>Total Revenue: <%=number_to_currency(@invoice.total_revenue)%></p>
</div>

<h4>Customer:</h4>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<table class = "table">
<thead>
<tr>
<h4>Items on this Invoice</h4>
<th>Item Name</th>
<th>Price</th>
<th>Quantity</th>
<th>Status</th>
</tr>
<tbody>
<% @invoice.invoice_items.each do |invoice_item|%>
<tbody>
<tr class="table-info">
<div id="item_invoice-<%=invoice_item.id %>">
<td><%=invoice_item.item.name %></td>
<td><%=number_to_currency(invoice_item.item.unit_price) %></td>
<td><%=invoice_item.quantity %></td>
 <td><%= invoice_item.status %></td>
</tr>
<% end %>
</tbody>
</table>
</div>